
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    font-family:'Manrope',sans-serif;
    font-weight: 800;
    background-color:hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    padding:20px  ;
    max-width: 450px;
}
#conselho .titulo{
    display: flex;
    justify-content:center;
}
.container .titulo{
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}

.container .texto{
    font-size: 23px;
    padding: 23px;
    text-align:center;
    color: hsl(193, 38%, 86%);
}
.container picture img{
    width: 100%;
}
.btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: hsl(150, 100%, 66%);
    transform: translateY(50px);
  
}
.container .btn:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}